*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: none;
}
img{
    height: 100vh;
    width: 100vw;
    position: fixed;
}
.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 43rem;
    color: white;
    background-color: rgba(40, 40, 40, 0.227);
    width: 100vw;
    height: 70px;
    padding: 1px;
    margin: 1px;
    font-size: larger;
}
ul li {
    list-style-type: none;
    color: aliceblue;
}
.head{
    margin: 15px;
    gap: 5rem;
    color: white;
    margin-right: 20px;
    display: flex;
    justify-content: start;
    margin-left: 20px;
    

}

.list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 26px;
    gap: 1rem;
    color: white;
    font-size: larger;

}

a {
    color: white;
}
.mid {
    position: absolute;
    /* z-index: 10; */
    color: white;
    margin-top: 300px;
    margin-left: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 1.5rem;
}


.con{
    
    font-size: xx-large;
}
button{
    gap: 30px;
    padding: 30px;
    border-radius: 10px;

    
}
.lm{
    color: white;
    background: rgba(0, 0, 0, 0.3);
    height: 40px;
    width: 110px;
    font-size: medium;
    padding: 0.5rem;
    border: 2px solid white;
    display: relative;
    right: 10px;
    

}
.sub{
    color: rgb(11, 11, 11);
    background: white;
    height: 40px;
    width: 110px;
    font-size: medium;
    padding: 0.5rem;
    border: 2px solid white;
}